# Titanic Data Preparation

## installing relevant libraries

In [1]:
pip install -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

## importing relevant libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

## Load and inspect data set

The Kaggle dataset on hotel reservations provides detailed information about bookings made by customers. It offers valuable insights for analyzing booking patterns, demand forecasting, and customer behavior in the hospitality industry. With a rich collection of data, it serves as a valuable resource for researchers and data scientists working on hotel management and related fields.

In [4]:
#loading the main dataframe from github and insprectig the data head
csv_url = "https://raw.githubusercontent.com/Flitschi7/stornierungsvorhersage-im-hotelgewerbe/main/hotel_reservations.csv"
main_df = pd.read_csv(csv_url)
main_df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [6]:
#looking at the dataframe
main_df.describe(include='all')

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
count,36275,36275.000000,36275.000000,36275.000000,36275.000000,36275,36275.000000,36275,36275.000000,36275.000000,36275.000000,36275.000000,36275,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275
unique,36275,NaN,NaN,NaN,NaN,4,NaN,7,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,2
top,INN00001,NaN,NaN,NaN,NaN,Meal Plan 1,NaN,Room_Type 1,NaN,NaN,NaN,NaN,Online,NaN,NaN,NaN,NaN,NaN,Not_Canceled
freq,1,NaN,NaN,NaN,NaN,27835,NaN,28130,NaN,NaN,NaN,NaN,23214,NaN,NaN,NaN,NaN,NaN,24390
mean,NaN,1.844962,0.105279,0.810724,2.204300,NaN,0.030986,NaN,85.232557,2017.820427,7.423653,15.596995,NaN,0.025637,0.023349,0.153411,103.423539,0.619655,NaN
std,NaN,0.518715,0.402648,0.870644,1.410905,NaN,0.173281,NaN,85.930817,0.383836,3.069894,8.740447,NaN,0.158053,0.368331,1.754171,35.089424,0.786236,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,0.000000,2017.000000,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,2.000000,0.000000,0.000000,1.000000,NaN,0.000000,NaN,17.000000,2018.000000,5.000000,8.000000,NaN,0.000000,0.000000,0.000000,80.300000,0.000000,NaN
50%,NaN,2.000000,0.000000,1.000000,2.000000,NaN,0.000000,NaN,57.000000,2018.000000,8.000000,16.000000,NaN,0.000000,0.000000,0.000000,99.450000,0.000000,NaN
75%,NaN,2.000000,0.000000,2.000000,3.000000,NaN,0.000000,NaN,126.000000,2018.000000,10.000000,23.000000,NaN,0.000000,0.000000,0.000000,120.000000,1.000000,NaN
max,NaN,4.000000,10.000000,7.000000,17.000000,NaN,1.000000,NaN,443.000000,2018.000000,12.000000,31.000000,NaN,1.000000,13.000000,58.000000,540.000000,5.000000,NaN

In [7]:
#checking for duplicate rows
main_df[main_df.duplicated(keep=False)]

Empty DataFrame
Columns: [Booking_ID, no_of_adults, no_of_children, no_of_weekend_nights, no_of_week_nights, type_of_meal_plan, required_car_parking_space, room_type_reserved, lead_time, arrival_year, arrival_month, arrival_date, market_segment_type, repeated_guest, no_of_previous_cancellations, no_of_previous_bookings_not_canceled, avg_price_per_room, no_of_special_requests, booking_status]
Index: []

In [9]:
#checking duplicate booking ids
main_df['Booking_ID'][main_df['Booking_ID'].duplicated(keep=False)]

Series([], Name: Booking_ID, dtype: object)

## Check for null values and adjust data sets

In [ ]:
original_data.isnull().sum()

There are three columns that contain missing values. Simple ways to handle this data quality issues are 

a) drop the rows where a specific value is missing (here done for 'Age'), 

b) drop the whole column if too many values are missing (here: 'Cabin'), 

c) replace missing values with the most frequent value (here: 'Embarked').

In [ ]:
df_wo_null = original_data.dropna(axis=0, subset=['Age']) # drop rows where 'Age' is missing

In [ ]:
df_wo_null.isnull().sum()

In [ ]:
df_wo_null = df_wo_null.drop(['Cabin'], axis = 1) # drop column 'Cabin' since there are too many missing values

In [ ]:
df_wo_null.head()

In [ ]:
df_wo_null['Embarked'] = df_wo_null['Embarked'].fillna(df_wo_null['Embarked'].mode().iloc[0]) # replace missing 'Embarked' with the most frequent value

## Find predictors and edit data

In the next step, predictors are defined. These are columns (from now on called features) that are assumed to have an influence on the target, in this case 'Survived: yes or no?'. Besides, new features are derived from existing ones. This process is called 'feature engineering' and is one of the key steps during data preparation.

### Drop features

In [ ]:
df_wo_null = df_wo_null.drop(['Ticket','PassengerId'], axis = 1) # IDs are no suitable predictors
df_wo_null = df_wo_null.drop(['Name'], axis = 1) # 'Name' is no appropriate predictor

### Survival rate per feature value

In [ ]:
df_wo_null[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)
# survival rate per class

In [ ]:
df_wo_null[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
viz = sns.FacetGrid(df_wo_null, col='Survived')
viz.map(plt.hist, 'Age', bins=40)

### Creating new features

In [ ]:
df_wo_null['AgeRange'] = pd.cut(df_wo_null['Age'], bins=8) # summarize 'Age' in ranges
df_wo_null[['AgeRange', 'Survived']].groupby(['AgeRange'], as_index=False).mean().sort_values(by='AgeRange', ascending=True)

In [ ]:
df_wo_null['AgeRange'] = pd.cut(df_wo_null['Age'], bins=8, labels = ['0-10','10-20','20-30','30-40','40-50','50-60','60-70', '70-80'])
# create a new column 'AgeRange'

In [ ]:
df_wo_null = df_wo_null.drop(['Age'], axis=1) # remove 'Age' since information is now contained in 'AgeRange'

In [ ]:
df_wo_null.head()

In [ ]:
viz = sns.FacetGrid(df_wo_null, col='Survived')
viz.map(plt.hist, 'Fare', bins=4)

In [ ]:
df_wo_null['FareRange'] = pd.qcut(df_wo_null['Fare'], q=4) # create quartiles from fare price 
df_wo_null[['FareRange', 'Survived']].groupby(['FareRange'], as_index=False).mean().sort_values(by='FareRange', ascending=True)

In [ ]:
df_wo_null['FareRange'] = pd.qcut(df_wo_null['Fare'], q=4, labels = ['Q1', 'Q2', 'Q3', 'Q4']) # add 'FareRange' as a new column
df_wo_null.head()

In [ ]:
df_wo_null = df_wo_null.drop(['Fare'], axis = 1) # remove 'Fare' since information is now contained in 'FareRange'

In [ ]:
df_wo_null['Family'] = df_wo_null['SibSp'] + df_wo_null['Parch'] + 1 # calculate family size and add this as a new column

df_wo_null[['Family', 'Survived']].groupby(['Family'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
df_wo_null = df_wo_null.drop(['SibSp', 'Parch'], axis = 1) # remove columns since information is now contained in 'Family'

In [ ]:
df_wo_null.head()

In [ ]:
df_wo_null.isnull().sum()

Feel free to try out additional idea, e.g. extract title from name.

In [ ]:
df_wo_null.head()

## Create data for modeling

In [ ]:
df_dummies = pd.get_dummies(df_wo_null, drop_first=True) # 0-1 encoding for categorical values
df_dummies.head()

In [ ]:
df_dummies.columns

Attention: Select the correct way to export csv file here. 

If you want to write a file to the project, you can follow these instructions to use ws-lib: https://dataplatform.cloud.ibm.com/docs/content/wsj/analyze-data/ws-lib-python.html?audience=wdp

In [2]:
# Local
# df_dummies.to_csv('train_dummies.csv', index = False) # full path if file should not be in the same folder as the notebook

# Cloud
#wslib